@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}



h1{
    display: block;
    font-size: 50px;
    color: #417dff;
    margin-bottom: 40px;
    font-weight: lighter;
    
}
body{
     background-image:url("../IMG/caminhao.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}
#container {
   margin-bottom: 30px;
   display: flex;
   flex-direction: column;
   color: white;
   justify-content: center;
   align-items: center;
   border-radius: 25px;
   width: 70vw;
   height: 80vh;
   background-color: rgba(255, 255, 255, 0.925); 
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
img{
    width: 60px;
    height: 60px;
    
}
a{

    margin-left: 18px;
    color: #005bb5;
    
}

/* para telas grandes (acima de 1280px) */
@media (min-width: 1280px) {
  #container {
    width: 60vw;   /* menor largura */
    height: 70vh;  /* opcional, altura menor */
  }
}
input[type="submit"]{
    margin-top: 30px;
    font-size: 20px;
    display: flex;
    justify-self: center;
    padding: 15px;
    width: 150px;
    background-color: #0073e6;
    border: none; 
    border-radius: 10px;
    color: white;
    transition: all 0.3s ease;
}
input:hover[type="submit"]{
    background-color: #005bb5; /* cor mais escura no hover */
    transform: translateY(-2px); /* leve efeito de elevação */
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.aria-label{
    display: flex;
    flex-direction: column;
    height: 10vh;
    margin: 10px;
}
label{
    font-size: 20px;
    color: #417dff;
}
input[type="text"],input[type="email"]{
    width: 50vw;
    height: 5vh;
    border-radius: 10px;
    border: #417dff 2px solid;
    font-size: 20px;
    text-indent: 10px;
}