.card-relatorio { 
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
            background-color: #1f2937; 
            padding: 1.5rem; 
            border-radius: 0.5rem; 
        }

        .report-title {
            font-size: 1.5rem; 
            font-weight: 600;
            margin-bottom: 1.5rem; 
            color: #ffffff;
            border-bottom: 1px solid #e5e7eb; 
            padding-bottom: 0.5rem; 
        }

        #loading-spinner {
            text-align: center; 
            color: #3b82f6; 
            font-weight: 500; 
            margin-top: 1rem; 
            margin-bottom: 1rem; 
        }
        #loading-spinner i {
            font-size: 2.25rem;
        }


        .report-item {
            padding: 1rem; 
            border-radius: 0.5rem; 
            border: 1px solid #e5e7eb; 
        }

        .report-item h4 {
            font-weight: 500; 
            margin-bottom: 0.75rem; 
            font-size: 1.125rem; 
            color: #ffffff; 
        }
        .report-item p {
            font-size: 0.875rem; 
            color: #6b7280; 
            margin-bottom: 1rem; 
        }


       
        .btn-download {
            width: 100%;
            padding: 0.5rem 1rem; 
            color: white; 
            font-weight: 600; 
            border-radius: 0.5rem; 
            transition: background-color 0.3s, transform 0.1s;
            cursor: pointer;
        }
        .btn-download:hover {
            transform: translateY(-1px);
        }
        
     
        .btn-blue {
            background-color: #2563eb; 
        }
        .btn-blue:hover {
            background-color: #1d4ed8; 
        }

        .btn-green {
            background-color: #059669; /
        }
        .btn-green:hover {
            background-color: #047857; 
        }
        
        .btn-yellow {
            background-color: #d97706; 
        }
        .btn-yellow:hover {
            background-color: #b45309;
        }