:root{
--carousel-width: max(100px, 30vw);
}
.container-carrosel{
 margin:0; display:grid; place-items:center; min-height:100vh;

}
.carousel {
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
  margin:0; display:grid; place-items:center; min-height:100vh;

}
.track{
display:flex;
width: max-content;
animation: scroll 25s linear infinite;
gap: 0px;
}
.slide{
flex:0 0 auto;
width: var(--carousel-width);
}
.slide img {
  height: 30%;
  width: auto;
  object-fit: contain;
  display: block;
  margin: 0;
box-shadow: -1px 30px 17px -21px rgba(0,0,0,0.33);
-webkit-box-shadow: -1px 30px 17px -21px rgba(0,0,0,0.33);
-moz-box-shadow: -1px 30px 17px -21px rgba(0,0,0,0.33);
}
@keyframes scroll {
0% { transform: translateX(0); }
100% { transform: translateX(-50%); }
}

.titulo{
    color: #3a86ff;
    
}

.Subtitulo{
    color: rgb(138, 137, 137);
    font-size:2vh ;
}