<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Fretes</title>
    <link rel="stylesheet" href="../Assets/CSS/home.css">
</head>
<body>
    <div class="container">
        <!-- lateral -->
        <aside class="sidebar">
            
            <!-- cima: logo e superior -->
            <div class="sidebar-top">
            
                <nav class="menu">
                    <a href="#" class="active">
                        <span class="icon">🏠</span>
                        <span>Home</span>
                    </a>
                    <a href="solicitacao.html">
                        <span class="icon">📦</span>
                        <span>Solicitações</span>
                    </a>
                </nav>
            </div>

            <!-- parte de baixo -->
            <div class="sidebar-bottom">
                <a href="minhaconta.html">
                    <span class="icon">👤</span>
                    <span>Minha Conta</span>
                </a>
                <a href="#">
                    <span class="icon">🚪</span>
                    <span>Sair</span>
                </a>
            </div>

        </aside>

        <!-- principal -->
        <main class="content">
            <h1>Olá, <span class="user-name">NOME</span>, bem-vindo!</h1>
            <p>Gerencie seus fretes com facilidade e acompanhe cada etapa do processo.</p>

            <section class="fretes">
                <h2>| Fretes</h2>
                <div class="cards">
                    <div class="card">
                        <p>Fretes realizados</p>
                        <h3>0</h3>
                        <span class="icon">✅</span>
                    </div>
                    <div class="card">
                        <strong>Fretes solicitados </strong>
                        <h3>0</h3>
                        <span class="icon">🕒</span>
                    </div>
                    <div class="card">
                        </strong>Fretes em andamento</strong>
                        <h3>0</h3>
                        <span class="icon">⚠️</span>
                    </div>
                </div>
            </section>

            <section class="fretes-andamento">
               <strong><h2>| Fretes em andamento</h2> </strong>
                <p>Acompanhe o status dos fretes em andamento</p>

                <div class="box-novo-frete">
                    <div class="icon-truck">🚚</div>
                    <a href="#" class="novo-frete">+ Solicitar novo Frete</a>
                    <p>Clique aqui para iniciar um novo pedido de frete</p>
                </div>
            </section>
        </main>
    </div>
</body>
</html>
